@model IEnumerable<InauVendingServer.Models.Owner>

@{
    ViewData["Title"] = "Sumario Empresas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Empresas</h2>

<p>
    <a asp-action="Create" class="btn btn-success" >Cadastrar nova</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.OwnerName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.OwnerAddress)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.OwnerName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OwnerAddress)
            </td>
            <td>
                <a asp-action="Edit" class="btn btn-default" asp-route-id="@item.OwnerId">Editar</a>
                <a asp-action="Details" class="btn btn-info"  asp-route-id="@item.OwnerId">Detalhes</a>
                <a asp-action="Delete" class="btn btn-danger"  asp-route-id="@item.OwnerId">Excluir</a>
            </td>
        </tr>
}
    </tbody>
</table>
