@model IEnumerable<InauVendingServer.Models.Machine>

@{
    ViewData["Title"] = "Sumario Máquinas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Máquinas</h2>

<p>
    <button class="btn btn-success" id="MachineAdd">Cadastrar Máquina</button>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MachineName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MachineAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MachineModel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MachineType)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.MachineName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MachineAddress)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MachineModel)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MachineType)
                </td>
                <td>
                    <button class="btn btn-default MachineEdit" data-id="@item.MachineId">Editar</button>
                    <a asp-action="Details" class="btn btn-info" asp-route-id="@item.MachineId">Detalhes</a>
                    <button class="btn btn-danger MachineDelete" data-id="@item.MachineId">Excluir</button>
                    <button data-id="@item.MachineId" class="btn btn-success ProductMachineAdd">Adicionar Produto</button>
                </td>
            </tr>
        }
    </tbody>
</table>
<div id="MachineAddModal"></div>
<div id="ProductMachineAddModal"></div>
<div id="MachineDeleteModal"></div>
<div id="MachineEditModal"></div>
